.cartao {
    text-align: justify;
    background-color: rgb(61, 61, 61)!important;
    transition: transform 0.5s ease;
}
.cartao:hover{
    transform: translateY(-15px);
}
.titulo-cartao{
    text-decoration: dotted;
}